@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

:root {
    --section-title-border: #9c3ff3;
    --border-white: #fff;
    --text-white: #fff;
    --dark-grey-title: #333;
    --light-grey-title: #666;
    --light-blue-title: #3590d2;
    --bg-light-blue: #3590d2;
    --bg-dark-grey: #e3e3e3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    background: #fff;
    margin: 50px;
    box-shadow: 0 50px 75px rgba(0, 0, 0, 0.1);
    border-left: 50px solid var(--border-white);
    border-right: 50px solid var(--border-white);
}

@media (max-width: 50em) {
    .container {
        margin: 30px 0;
        border: none
    }
}

.container .top {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 40px;
    padding-bottom: 0;
}

.container .top .imgBox {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.container .top .imgBox .box {
    position: relative;
    min-width: 200px;
    border-radius: 50%;
    overflow: hidden;
    aspect-ratio: 1;
}

.container .top .imgBox .box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .top .profileText {
    position: relative;
    padding: 40px 10px 40px 40px;
    display: flex;
    align-items: center;
}

.container .top .profileText h3 {
    font-size: 3em;
    letter-spacing: 0.1em;
    line-height: 1.2em;
    font-weight: 600;
    color: var(--dark-grey-title);
}

@media (max-width: 67em) {
    .container .top {
        display: flex;
        flex-direction: column;
        padding: 40px 10px 0 10px;
    }

    .container .top .imgBox .box {
        margin: auto;
    }

    .container .top .profileText {
        padding: 10px;
    }

    .container .top .profileText > * {
        margin: auto;
        text-align: center;
    }
}

.container .top .profileText h3 span {
    position: relative;
    font-size: 0.5em;
    font-weight: 300;
    line-height: 0.02em;
}

.container .contentBox {
    position: relative;
    min-height: 500px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0 40px 40px;
}

.container .contentBox h3 {
    border-left: 4px solid var(--section-title-border);
    padding-left: 10px;
    line-height: 1em;
    font-weight: 600;
    color: var(--dark-grey-title);
    letter-spacing: 0.1em;
    margin-bottom: 20px;
    margin-top: 50px;
}

.container .contentBox ul {
    position: relative;
    margin: 10px 0;
}

.container .contentBox ul li {
    list-style: none;
    margin: 25px 0;
    line-height: 1em;
    color: var(--dark-grey-title);
    display: flex;
}

@media (max-width: 55em) {
    .container .contentBox {
        display: flex;
        flex-direction: column;
    }

    .container .contentBox ul {
        margin: 10px 20px;
    }
}

.container .contentBox ul li,
.container .contentBox h4,
.container .contentBox h5,
.container .contentBox p,
.container .contentBox span {
    cursor: crosshair;
}

.container .contentBox ul li ion-icon{
    font-size: 1.2em;
    margin-right: 10px;
    color: var(--light-blue-title);
}

.container .contentBox ul.education li {
    flex-direction: column;
    margin: 25px 0;
}

h5 {
    color: var(--light-blue-title);
}

h4 {
    color: var(--dark-grey-title);
    font-weight: 500;
    margin: 5px 0;
}

h6 {
    color: var(--light-grey-title);
    font-weight: 300;
    font-size: 1em;
}

.language li {
    flex-direction: column;
}

.language li span {
    color: var(--dark-grey-title);
    font-size: 16px;
    font-weight: 500;
}

.language .percent {
    position: relative;
    width: 100%;
    background: var(--bg-dark-grey);
    height: 6px;
    margin-top: 15px;
    margin-bottom: 10px;
    display: block;
    overflow: hidden;
}

.language .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: var(--bg-light-blue);
}

.container .contentBox ul.interest {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container .contentBox ul.interest li {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

.container .contentBox ul.interest li .icon {
    position: relative;
    width: 40px;
    height: 40px;
    background: var(--bg-light-blue);
    color: var(--text-white);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .contentBox ul.interest li .icon ion-icon {
    color: var(--text-white);
    margin-right: 0;
}

.rightSide {
    padding-left: 40px;
}

@media (max-width: 50em) {
    .rightSide {
        padding: 0;
    }
}

p {
    font-weight: 300;
}

.about .box {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.about .box .year_company {
    min-width: 150px;
    margin-bottom: 10px;
}

.about .box .year_company h5 {
    color: var(--dark-grey-title);
    font-weight: 600;
}

.about .box .year_company h5:nth-child(1) {
    color: var(--light-blue-title);
}

.about .box .text h4 {
    color: var(--light-blue-title);
    font-size: 16px;
    margin: 0;
}

.contentBox .leftSide li a span {
    cursor: pointer;
}

.about.skills .box {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}

.about.skills .box h4 {
    color: var(--dark-grey-title);
    font-weight: 500;
    margin-bottom: 5px;
}

.about.skills .box .percent {
    position: relative;
    width: 100%;
    height: 10px;
    background: var(--bg-dark-grey);
}

.about.skills .box .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: var(--bg-light-blue);
}